@model CoursesApp.Web.Models.TeachersIndexViewModel

@section Scripts
{
    <script src="~/js/teacher.js"></script>
}

@{
    ViewData["Title"] = "Teachers";
}
<h1>@ViewData["Title"]</h1>

@if (!Model.Teachers.Any())
{
    <p>No teachers found.</p>
}
else
{
    <table class="table" id="teachers-table">
        <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        @for (int i = 0; i < Model.Teachers.Count; i++)
        {
            <tr data-id="@Model.Teachers[i].Id">
                <td>@(i+1)</td>
                <td>
                    <span class="view-mode">
                        @Model.Teachers[i].FirstName
                    </span>
                    <span class="edit-mode d-none">
                        <input class="form-control" value="@Model.Teachers[i].FirstName" name="firstName"/>
                    </span>
                </td>
                <td>
                    <span class="view-mode">
                        @Model.Teachers[i].LastName
                    </span>
                    <span class="edit-mode d-none">
                        <input class="form-control" value="@Model.Teachers[i].LastName" name="lastName"/>
                    </span>
                </td>
                <td>
                    <span class="view-mode">
                        <button class="btn btn-sm btn-primary btn-edit">Edit</button>
                        <button class="btn btn-sm btn-danger btn-delete">Delete</button>
                    </span>
                    <span class="edit-mode d-none">
                        <button class="btn btn-sm btn-success btn-save">Save</button>
                        <button class="btn btn-sm btn-secondary btn-cancel">Cancel</button>
                    </span>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
